.button {
  @extend %font-normal;
  @extend %transition;
  border-radius: 5px;
  font-size: 19px;
  padding: 15px 45px;
  border: 1px solid $color-accent;
  cursor: pointer;
  &_full {
    background-color: $color-accent;
    &:hover {
      background-color: transparent;
    }
  }
  &_outline {
    background-color: transparent;
  }
}
