%input-icon {
  background-repeat: no-repeat;
  background-position: 16px center;
}
.custom-input {
  position: relative;
}
.countries-input {
  & .countries-input-angle {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-image: url('../images/icon_angle_b.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  &.open .countries-input-angle {
    transform: translateY(-50%) rotate(180deg);
  }
  &.close .countries-input-angle {
    transform: translateY(-50%) rotate(0deg);
  }
}
.countries-input__country-list {
  @extend %shadow;
  position: relative;
  z-index: 5;
  border-radius: 5px;
  width: 300px;
  height: 160px;
  padding: 21px 23px;
  position: absolute;
  left: 0;
  background-color: $color-white;
  display: none;
  overflow-y: scroll;
}
.countries-input > input:focus {
  & ~ .countries-input__country-list {
    display: block;
  }
}
.countries-input__country-item {
  @extend %font-light;
  @extend %transition;
  font-size: 15px;
  color: $color-grey-m;
  cursor: pointer;
  margin-bottom: 15px;
  text-align-last: left;
  &:hover {
    color: $color-dark-m;
    margin-left: 9px;
  }
}
.input {
  @extend %shadow;
  @extend %font-light;
  display: block;
  width: 100%;
  padding: 17px 50px;
  background-color: rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  border: 1px solid $color-white;
  font-weight: 300;
  font-size: 19px;
  color: $color-grey;
  &:focus-within,
  &:focus {
    border: 1px solid $color-accent;
    outline: none;
  }
  & + label {
    @extend %font-light;
    @extend %transition;
    color: $color-grey;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
  }
  &._not-empty + label,
  &:focus + label {
    top: 6px;
    transform: translateY(0);
    font-size: 11px;
    color: $color-accent;
  }
  &::placeholder {
    color: $color-white-s;
    @extend %font-light;
  }
  &:not(:focus)::placeholder {
    visibility: hidden;
  }
  & ~ .input-error {
    width: 100%;
    position: absolute;
    font-size: 10px;
    bottom: -16px;
    color: $color-red;
    text-align: right;
  }
  &._err {
    // border: 1px solid $color-red;
  }

  &_first-name {
    background-image: url('../images/icon_user.svg');
    @extend %input-icon;
  }
  &_location {
    background-image: url('../images/icon_location.svg');
    @extend %input-icon;
    position: relative;
  }
  &_password {
    background-image: url('../images/icon_password.svg');
    @extend %input-icon;
  }
  &_email {
    background-image: url('../images/icon_email.svg');
    @extend %input-icon;
  }
  &_second-name {
    background-image: url('../images/icon_user-second.svg');
    @extend %input-icon;
  }
  &_phone {
    background-image: url('../images/icon_phone.svg');
    @extend %input-icon;
  }
  &_password-confirm {
    background-image: url('../images/icon_password-confirm.svg');
    @extend %input-icon;
  }
}

