$color-white: #fff;
$color-white-s: #ababab;
$color-accent: #6CEEC7;
$color-dark: #000;
$color-dark-m: #212121;
$color-grey: #E0E0E0;
$color-grey-m: #5E5E5E;
$color-dark-bg: rgba(0, 0, 0, 0.20);
$color-red: #DA5050;

$screen-width-md: 768px;

$container-width-md: 720px;
